<%= link_to entry.url, :target => ("_blank" if entry.challenge.status == Challenge::STATUSES[:closed]), :class => "item" do %>
  <div class="<%= entry.platform == "web" ? " web" : " iphone" %>">
    <div class="top-frame">
      <div class="top-frame-inner" style="background-image: url('<%= entry.screenshot_url %>');"></div>
    </div>
    <h1 class="little"><%= entry.title %></h1>
    <div class="score"><b>Score:</b> <%= entry.score %></div>
    <% if your_vote(entry).present? %>
      <div class="your-vote"><b>Your vote:</b> <%= your_vote(entry).value %></div>
    <% else %>
      <br>
    <% end %>
    <%= render 'entries/ribbons', :entry => entry %>
    <p><%= entry.description %></p>
  </div>
</a>
<% end %>