<% content_for :section_class, "home" %>

<div class="section-header"><span>Winners of the <b>"<%= current_closed_challenge.title %>"</b> challenge:</span></div>
<% @entries.each_with_index do |entry, i| %>
  <%= link_to entry do %>
    <div class="tile<%= entry.platform == "web" ? " web" : " iphone" %><%= i % 3 == 0 || i % 3 == 1 ? (i % 3 == 0 ? " blue" : " red") : " yellow" %>">
      <div class="inner">
        <h1><%= entry.title %></h1>
        <p><%= entry.description %></p>
        <div class="frame"><div class="frame-inner" style="background-image: url('<%= entry.thumb_url %>');"></div></div>
      </div>
    </div>
  </a>
  <% end %>
<% end %>