<% if current_closed_challenge %>
	<h2>Current challenge: <%= current_open_challenge.title %></h2>
	<h3>Recently submitted entries: </h3>
  <% Entry.where(:receiving_challenge_id => current_open_challenge.id).each do |entry| %>
    <tr>
      <td><%= entry.title %></td>
      <td><%= entry.description %></td>
      <td><%= entry.repo_url %></td>
      <td><%= entry.thumb_url %></td>
      <td><%= entry.submitting_user_id %></td>
      <td><%= entry.receiving_challenge_id %></td>
      <td><%= link_to 'Show', entry %></td>
      <% if current_user.level == 1 %>
      	[Mod: <td><%= link_to 'Edit', edit_entry_path(entry) %></td> or 
      	<td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>]
      <% end %>
    </tr>
  <% end %>
<% else %>
  <h2>Sorry, no challenges have ended yet&hellip;</h2>
<% end %>