<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.title %></td>
    <td><%= entry.description %></td>
    <td><%= entry.repo_url %></td>
    <td><%= entry.thumb_url %></td>
    <td><%= entry.submitting_user_id %></td>
    <td><%= entry.receiving_challenge_id %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>