<% @entries.each do |entry| %>
  <%= link_to entry do %>
    <div class="tile<%= entry.platform == "web" ? " web" : " iphone" %>">
      <div class="inner">
        <h1><%= entry.title %></h1>
        <p><%= entry.description %></p>
        <div class="frame"><div class="frame-inner" style="background-image: url('<%= entry.thumb_url %>');"></div></div>
      </div>
    </div>
  </a>
  <% end %>
<% end %>