<% content_for :section_class, "home" %>

<header id="section">
  <span>Winners of the <b><%= link_to "#{current_closed_challenge.title}", current_closed_challenge %></b> challenge:</span>
</header>

<% @entries.each_with_index do |entry, i| %>
  <%= link_to entry.url, :target => "_blank" do %>
    <div class="tile<%= entry.platform == "web" ? " web" : " iphone" %><%= i % 3 == 0 || i % 3 == 1 ? (i % 3 == 0 ? " blue" : " red") : " yellow" %>">
      <div class="inner">
        <h1><%= entry.title %></h1>
        <p><%= entry.description %></p>
        <img class="ribbon" src="/assets/ribbon_<%= i == 0 ? "blue" : i == 1 ? "red" : "yellow" %>.png" width="<%= i == 0 ? 75 : 45 %>">
        <div class="frame"><div class="frame-inner" style="background-image: url('<%= entry.thumb_url %>');"></div></div>
      </div>
    </div>
  </a>
  <% end %>
<% end %>

<header id="section">
  <span><%= link_to "View past challenges&hellip;".html_safe, challenges_url %></span>
</header>