<% if current_open_challenge %>

  <% suggested_by = User.find(current_open_challenge.submitting_user_id) %>

  <h1 id="challenge" data-opened-at="<%= current_open_challenge.opened_at %>">Submit to "<%= current_open_challenge.title %>"</h1>
  <p>
    <b>Description:</b>
    <%= current_open_challenge.description %>
  </p>

  <p>
    <b>Suggested by:</b>
    <%= link_to suggested_by.full_name, suggested_by %>
  </p>

  <p>
    <b>Rules:</b>
    <%= current_open_challenge.rules %>
  </p>

  <p>
    <b>Prizes:</b>
    <%= current_open_challenge.prize %>
  </p>

  <hr>

  <div id="step-1" class="step focused">
    <h2>1. Choose a repository:</h2>
    <form id="repos">
      <select>
        <option value="null">Pick one...</option>
      </select>
    </form>
  </div>

  <div id="step-2" class="step">
    <h2>2. Make sure everything checks out:</h2>
    <ul id="check">
      <li id="screenshot_check"><span class="mark">&#10003;</span>Has a `screenshot.jpg` file in the root directory</li>
      <li id="description_check"><span class="mark">&#10003;</span>Has a description</li>
      <li id="commit_date_check"><span class="mark">&#10003;</span>Created after challenge start</li>
      <li id="contributor_check"><span class="mark">&#10003;</span>Has valid collaborators</li>
      <li><ol id="collaborators_list">
      </ol></li>
      <li id="demo_check"><span class="mark">&#10003;</span>Has a valid demo URL</li>
    </ul>
  </div>

  <div id="step-3" class="step">
    <h2>3. Preview your entry:</h2>

  </div>

<% else %>
  <h2>Sorry, no challenges are open right now&hellip;</h2>
<% end %>