<% content_for :middle do %>
  <% entry_id = request.env['PATH_INFO'].split("/").last %>
  <!-- <div id="note-button">Leave a Note</div> -->
  <div id="star-space">
  	<% 5.times do |i| %>
  		<div class="star-wrapper<%= " voted" if @voted_value == 5 - i %>"><%= link_to "<div class=\"star\" data-value=\"#{5 - i}\"></div>".html_safe, cast_path(:value => 5 - i, :entry_id => entry_id), :method => "put" %></div>
  	<% end %>
  </div>
<% end unless @entry.user == current_user or @entry.challenge != current_voting_challenge %>

<% content_for :right do %>
  <%= link_to @entry.repo_url, :target => "_blank", :id => "source-link" do %>
    <div>View Source</div>
  <% end %>
<% end %>

<iframe src="<%= @entry.demo_url %>" id="demo-frame"></iframe>
<iframe src="<%= @entry.repo_url %>" id="source"></iframe>