<header>
  <h1>Top Entries</h1>
  <p>View the most highly rated entries of all time.</p>
</header>

<% @entries.each do |entry| %>
  <%= link_to entry, :class => "item" do %>
    <div class="<%= entry.platform == "web" ? " web" : " iphone" %>">
      <div class="top-frame"><div class="top-frame-inner" style="background-image: url('<%= entry.thumb_url %>');"></div></div>
      <h1 class="little"><%= entry.title %></h1>
      <p><%= entry.description %></p>
    </div>
  </a>
  <% end %>
<% end %>