<header>
  <div style="background-image: url(http://www.gravatar.com/avatar/<%= @user.gravatar_id %>?s=300&d=http://thelist.io/assets/profile.jpg);" id="default"></div>
  <h1>
    <%= @user.full_name %>
    <% if current_user && is_moderator(current_user) %>
      <span class="mod">&mdash; <%= link_to 'Ban', "/users/#{@user.username}/ban", :method => "put", :remote => true, data: { confirm: 'Are you sure? This user will be banned for seven days.' }  %></span>
    <% end %>
  </h1>
  
  <span>Joined <%= time_ago_in_words @user.created_at %> ago</span><br>
  
  <% if is_moderator(@user) %>
    <span>Moderator</span><br>
  <% end %>
  
  <% if @user.blog_url.present? %>
    <%= link_to @user.blog_url, @user.blog_url,  :target => "_blank" %><br>
  <% end %>
  
  <%= 'Hireable' if @user.hireable %>
  
  <div class="clearfix"></div>
</header>

<% @entries.each do |entry| %>
  <% if entry.challenge.status == 4 %>
    <%= render 'entries/thumb', :entry => entry %>
  <% end %>
<% end %>