<h1>Latest Submissions</h1>

<table>
  <tr>
    <th>Submitter</th>
    <th>Name</th>
    <th>Description</th>
    <th>Challenge</th>
    <th></th>
  </tr>

<% @submissions.each do |submission| %>
  <tr>
    <td><%= submission.user_id %></td>
    <td><%= link_to submission.name, submission%></td>
    <td><%= submission.description %></td>
    <td><%= submission.challenge %></td>
    <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Submission', new_submission_path %>
