<header>
  <h1 data-opened-at="<%= @challenge.opened_at.strftime("%FT%T%:z") %>">
    <%=
      case @challenge.status
      when Challenge::STATUSES[:open]
        "Submit to '#{@challenge.title}'"
      when Challenge::STATUSES[:voting]
        "Vote on '#{@challenge.title}'"
      else
        @challenge.title
      end
    %>
  </h1>
  
  <p><%= @challenge.description %></p>

<!--
  <p>
    <b>Suggested by:</b>
    <%= link_to @challenge.user.full_name, @challenge.user %> 
  </p>
-->


<!--
  <p>
    <b>Rules:</b>
    <ul>
      <li>Entries must be in the form of a web page</li>
      <% @challenge.rules_array.each do |rule| %>
        <li><%= rule.html_safe %></li>
      <% end %>
    </ul>
  </p>
-->

  <p>
    <b>Prizes:</b>
    <ul>
      <li>Your project featured on the OpenHacker homepage</li>
      <% @challenge.prizes_array.each do |prize| %>
        <li><%= prize.html_safe %></li>
      <% end %>
    </ul>
  </p>
  
  <% 
    case @challenge.status
    when Challenge::STATUSES[:open]
  %>
    <p>
      <b>Challenge Started:</b>
      <%= time_ago_in_words(@challenge.created_at) %> ago
    </p>
    
    <p>
      <b>Submission Deadline:</b>
      <%= distance_of_time_in_words(@challenge.opened_at + 1.week, Time.now, true) %> from now
    </p>
  <% when Challenge::STATUSES[:voting] %>
    <p>
      <b>Voting Began:</b>
      <%= time_ago_in_words(@challenge.opened_at + 1.week) %> ago
    </p>
    
    <p>
      <b>Voting Deadline:</b>
      <%= distance_of_time_in_words(Time.now, @challenge.opened_at + 1.week, true) %> from now
    </p>
    
    <p<%= " class=" + (@challenge.voted_percentage == 100 ? "green" : "red") %>>
      You've voted on <b><%= @challenge.voted_percentage %>%</b> of the entries in this challenge
    </p>
  <% when Challenge::STATUSES[:closed] %>
    <p>
      <b>Challenge Ended:</b>
      <%= distance_of_time_in_words(@challenge.opened_at + 1.week, Time.now, true) %> ago
    </p>
  <% end %>
</header>