<h1>Past Challenges</h1>

<ul>
<% @challenges.each do |challenge| %>
  <li>
    <span><%= link_to challenge.title, challenge %></span>
    <span><%= challenge.description %></span>
    <span>Suggested by <%= User.find(challenge.submitting_user_id).full_name %></span>
    <% if current_user.level == 1 %>
    	[Mod: <span><%= link_to 'Edit', edit_challenge_path(challenge) %></span> or
    	<span><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></span>]
    <% end %>
  </li>
<% end %>
</ul>