<h1>Past Challenges</h1>

<ul>
<% @challenges.each do |challenge| %>
  <li>
    <span><%= challenge.title %></span>
    <span><%= challenge.description %></span>
    <span><%= challenge.submitting_user_id %></span>
    <span><%= link_to 'Show', challenge %></span>
    <span><%= link_to 'Edit', edit_challenge_path(challenge) %></span>
    <span><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></span>
  </li>
<% end %>
</ul>