<div id="profile-header">
<h1>Challenge: <%= @challenge.title %></h1>

<p>
  <b>Description:</b> <%= @challenge.description %>
</p>

<p>
  <b>Suggested by:</b> <%= link_to @user.full_name, @user %>
</p>

<p>
  <b>Rules:</b> <%= current_open_challenge.rules %>
</p>

<p>
  <b>Prizes:</b> <%= current_open_challenge.prize %>
</p>

<% if @challenge.status == 2 %>
  <b>Submission deadline:</b> <%= distance_of_time_in_words(@challenge.opened_at + 1.week, Time.now, true) %> ago
<% elsif @challenge.status == 3 %>
  <b>Voting deadline:</b> <%= distance_of_time_in_words(Time.now, @challenge.opened_at + 1.week, true) %>
<% elsif @challenge.status == 4 %>
  <b>Challenge Ended:</b> <%= distance_of_time_in_words(@challenge.opened_at + 1.week, Time.now, true) %> ago
<% end %>

<p<%= " class=" + (@voted_percentage == 100 ? "green" : "red") %>>
  You've voted on <b><%= @voted_percentage %>%</b> of the entries in this challenge
</p>

</div>

<h2>Entries:</h2>

<% if @entries.nil? %>
 <p>No entries have been submitted yet.</p>
<% else %>
	<ul>
	<% @entries.each do |entry| %>
	  <li>
	    <span><%= link_to entry.title, entry %></span>
	    <span><%= entry.description %></span>
	    <%= link_to "Vote", entry %>
	    <% if current_user && is_moderator(current_user) %>
	    	[Mod: <span><%= link_to 'Edit', edit_entry_path(entry) %></span> or
	    	<span><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></span>]
	    <% end %>
	  </li>
	<% end %>
	</ul>
<% end %>