<%= render "header" %>

<% if @challenge.entries.empty? %>
 <p>No entries have been submitted yet.</p>
<% else %>
  <% @challenge.entries.each do |entry| %>
    <%= link_to entry, :class => "item" do %>
      <div class="<%= entry.platform == "web" ? " web" : " iphone" %>">
        <div class="top-frame"><div class="top-frame-inner" style="background-image: url('<%= entry.thumb_url %>');"></div></div>
        <h1 class="little"><%= entry.title %></h1>
        <p><%= entry.description %></p>
      </div>
    <% end %>
  <% end %>
<% end %>