<header>
  <h1>Ideas</h1>
  <p>Tell us your challenge idea <%= link_to 'here', new_challenge_path %>.</p>
</header>

<ul>
<% @challenges.each do |challenge| %>

  <li>
    <span><%= challenge.description %></span>
    <% if current_user && is_moderator(current_user) %>
  	  <span class="mod"> &mdash; <%= link_to 'Edit', edit_challenge_path(challenge) %>, <%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %>, or <%= link_to 'Approve', challenge, method: :approve %></span>
    <% end %>
    <br>
    <span>Suggested by <%= link_to challenge.user.full_name, challenge.user %></span>
  </li>
<% end %>
</ul>