<header>
  <h1>Challenge Suggestions</h1>
  <p>Tell us your challenge idea <%= link_to 'here', new_challenge_path %>.</p>
</header>

<ul>
<% @challenges.each do |challenge| %>

  <li>
    <span><%= challenge.description %></span><br>
    <span>Suggested by <%= link_to challenge.user.full_name, challenge.user %></span>
    <% if current_user && is_moderator(current_user) %>
  	  [Mod: <td><%= link_to 'Edit', edit_challenge_path(challenge) %></td>&nbsp;,
  	  <td><%= link_to 'Destroy', challenge, method: :delete, data: { confirm: 'Are you sure?' } %></td> or
  	  <td><%= link_to 'Approve', challenge, method: :approve %></td> ]
    <% end %>
  </li>
<% end %>
</ul>