<header>
  <h1>Challenge Suggestions</h1>
  <p>Community-suggested ideas for challenges.</p>
  <%= link_to new_challenge_path, :class => "noline" do %>
    <button>Suggest a Challenge</button>
  <% end %>
</header>


<% if @challenges.empty? %>
  <p>No new ideas right now...</p>
<% else %>
  <ul>
    <% @challenges.each do |challenge| %>
      <li>
        <h3><%= challenge.description %></h3><%= render "mod", :challenge => challenge %>
        <span>Suggested <%= time_ago_in_words(challenge.created_at) %> ago by <%= link_to challenge.user.full_name, challenge.user %></span>
      </li><br>
    <% end %>
  </ul>
<% end %>