<h1>Listing votes</h1>

<table>
  <tr>
    <th>Voting user</th>
    <th>Value</th>
    <th>Receiving entry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @votes.each do |vote| %>
  <tr>
    <td><%= vote.voting_user_id %></td>
    <td><%= vote.value %></td>
    <td><%= vote.receiving_entry_id %></td>
    <td><%= link_to 'Show', vote %></td>
    <td><%= link_to 'Edit', edit_vote_path(vote) %></td>
    <td><%= link_to 'Destroy', vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vote', new_vote_path %>
