<!DOCTYPE html>
<html>
<head>
  <title>ThechallengeIo</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <div class="inner">
    <a href="/"><h2>The Challenge</h2></a>
    <div class="right">
      <% if current_user %>
          <%= link_to "<div>Good #{time_of_day()}, #{current_user.full_name.split(" ").first}</div>".html_safe, current_user %>
          <%= link_to "<div>Sign Out</div>".html_safe, signout_path %>
      <% else %>
        <a href="/auth/github"><div>Sign in with GitHub</div></a>
      <% end %>
    </div>
  </div>
</header>

<section>
  <%= yield %>
</section>

</body>
</html>