<!DOCTYPE html>
<html>
<head>
  <title><%= @title or "OpenHacker" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}.css" if Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.css") %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <!--[if !IE 7]>
  	<style type="text/css">
  		.wrapper {
  		  display: table;
  		  height: 100%;
  		}
  	</style>
  <![endif]-->
</head>
<body>
  <nav>
    <div class="inner">
      <a href="/" class="left">
        <h2>OpenHacker</h2> <%= "#{params[:controller]}/#{params[:action]}.css" %>
      </a>
      
      <div class="middle">
        <%= yield(:middle) %>
      </div>
      
      <div class="right">
        <%= yield(:right) %>
      
        <% if current_user %>
          <%= link_to "<div id=\"user\" data-username=\"#{current_user.username}\" data-token=\"#{current_user.github_token}\">#{current_user.first_name}</div>".html_safe, current_user %>
          <%= link_to '<div>Vote</div>'.html_safe, next_entry if current_voting_challenge %>
          <%= link_to your_entry.present? ? "<div>#{your_entry.title[0..10] + (your_entry.title.length > 10 ? "&hellip;" : "")}</div>".html_safe : '<div>Submit</div>'.html_safe, submit_path if current_open_challenge %>
          <%= link_to "<div>Sign Out</div>".html_safe, signout_path %>
        <% else %>
          <%= link_to '<div>About</div>'.html_safe, about_path if current_closed_challenge.present?  %>
          <%= link_to '<div>Vote</div>'.html_safe, next_entry if current_voting_challenge %>
          <%= link_to '<div>Submit</div>'.html_safe, submit_path if current_open_challenge %>
          <%= link_to '<div>Sign in with GitHub</div>'.html_safe, auth_path %>
        <% end %>
      </div>
    </div>
  </nav>
  
  <% if current_open_challenge %>
    <aside>
      <div>
        <div>'<%= current_open_challenge.title %>' begins in:</div><br>
        <span id="ticker"></span>
      </div>
    </aside>
  <% end %>
  
  <section>
    <div class="inner <%= yield(:section_class) %>">
      <%= yield %>
    </div>
  </section>
  <footer>
    <div class="inner">
      <%= link_to "News", "http://thelist.io/", :target => "_blank" %>
      <span>&nbsp;&#8226;&nbsp;</span>
      <%= link_to "Hall of Fame", top_path %>
      <span>&nbsp;&#8226;&nbsp;</span>
      <%= link_to "Suggestions", challenge_suggestions_path %>
      <% if closed_challenge_count > 1 %>
        <span>&nbsp;&#8226;&nbsp;</span>
        <%= link_to "Archives", challenges_path  %>
      <% end %>
      <span>&nbsp;&#8226;&nbsp;</span>
      <%= link_to "Rules", rules_path %>
      <span>&nbsp;&#8226;&nbsp;</span>
      <%= link_to "Source Code", "https://github.com/JacksonGariety/OpenHacker", :target => "_blank" %>
      <% if current_user and current_closed_challenge.present? %>
        <span>&nbsp;&#8226;&nbsp;</span>
        <%= link_to "About".html_safe, about_path %>
      <% end %>
    </div>
  </footer>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}.js" if Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.js") %>
</body>
</html>