<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) or "The Challenge" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "#{params[:controller]}/#{params[:action]}.css" if Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.css") %>
  <%= csrf_meta_tags %>
  <!--[if !IE 7]>
  	<style type="text/css">
  		.wrapper {
  		  display: table;
  		  height: 100%;
  		}
  	</style>
  <![endif]-->
</head>
<body>
  <div class="inner" id="site">
    <header>
      <div class="inner">
        <a href="/" class="left">
          <h2>The Challenge</h2>
          <h2 class="shadow">The Challenge</h2>
        </a>
        <div id="star-space">
        	<% 4.times do |i| %>
        		<div class="star-wrapper"><%= link_to "<div class=\"star\"></div>".html_safe, vote_path(:value => i, :receiving_entry_id => (request.env['PATH_INFO'].split("/").last)), :remote => true, :method => "put" %></div>
        	<% end %>
        </div>
        <div class="right">
          <% if current_user %>
              <%= link_to "<div id=\"user\" data-username=\"#{current_user.username}\" data-token=\"#{current_user.github_token}\">#{current_user.full_name.split(" ").first}</div>".html_safe, current_user %>
              <%= link_to '<div>Vote</div>'.html_safe, random_entry if current_voting_challenge %>
              <%= link_to '<div>Submit</div>'.html_safe, submit_path if current_open_challenge %>
              <%= link_to "<div>Sign Out</div>".html_safe, signout_path %>
          <% else %>
            <a href="/auth/github"><div>Sign in with GitHub</div></a>
          <% end %>
        </div>
      </div>
    </header>

    <section <%= "class=home" if params[:controller] == "entries" && params[:action] == "index" %>>
      <%= yield %>
    </section>
  </div>
  <footer>
    <%= link_to "Suggestions", challenge_suggestions_path %><span>&nbsp;•&nbsp;</span>
    <%= link_to "Archives", challenges_path %><span>&nbsp;•&nbsp;</span>
    <%= link_to "About", about_path %><span>&nbsp;•&nbsp;</span>
    <%= link_to "Rules", rules_path %>
  </footer>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "#{params[:controller]}/#{params[:action]}.js" if Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.js") %>
</body>
</html>