<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) or "The Challenge" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="inner" id="site">
    <header>
      <div class="inner">
        <a href="/" class="left">
          <h2>The Challenge</h2>
          <h2 class="shadow">The Challenge</h2>
        </a>
        <div class="right">
          <% if current_user %>
              <%= link_to "<div>#{current_user.full_name.split(" ").first}</div>".html_safe, current_user %>
              <%= link_to '<div>Vote</div>'.html_safe, current_voting_challenge if current_voting_challenge %>
              <%= link_to '<div>Submit</div>'.html_safe, submit_path if current_open_challenge %>
              <%= link_to "<div>Sign Out</div>".html_safe, signout_path %>
          <% else %>
            <a href="/auth/github"><div>Sign in with GitHub</div></a>
          <% end %>
        </div>
      </div>
    </header>

    <section>
      <%= yield %>
    </section>
  </div>
</body>
</html>