<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) or "The Challenge" %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "new_votes" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta charset="UTF-8">
</head>
<body>
  <header>
    <div class="inner">
      <a href="/" class="left">
        <h2>The Challenge</h2>
        <h2 class="shadow">The Challenge</h2>
      </a>
      <div class="right">
        <% if current_user %>
            <%= link_to "<div>#{current_user.full_name.split(" ").first}</div>".html_safe, current_user %>
            <%= link_to '<div>Vote</div>'.html_safe, vote_path %>
            <%= link_to '<div>Submit</div>'.html_safe, new_entry_path %>
            <%= link_to "<div>Sign Out</div>".html_safe, signout_path %>
        <% else %>
          <a href="/auth/github"><div>Sign in with GitHub</div></a>
        <% end %>
      </div>
    </div>
  </header>
</body>
</html>